@font-face {
  font-family: 'NeueMachina-Ultrabold';
  src: url('../../public/resources/Fonts/neue-machina-ultrabold.ttf');
}

@font-face {
  font-family: 'GeometriaMedium';
  src: url('../../public/resources/Fonts/geometria-medium.otf');
}

.home-element {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding-top: 75px;

  background-color: #fcf7ec;
}

.snail-container {
  height: 100px;
}

img {
  user-select: none;
}

.main-image-container {
  padding-top: 80px;
}

.main-image {
  height: 1023px;
}

.copyright {
  margin: 50px;

  display: flex;
  height: 50px;

  font-size: 15px;
}

.real-copyright {
  width: 50%;
  font-family: 'NeueMachina-Ultrabold';
  
  text-align: center;
}

.bottom-links {
  width: 50%;
  font-family: 'NeueMachina-Ultrabold';

  text-align: center;
}
