@import url('../fonts.css');

.home-element {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding-top: 75px;
  /* padding-bottom: 100px; */

  background-color: #fcf7ec;
  position: relative;
}

img {
  user-select: none;
}

.main-image-container {
  height: 800px;
}

.main-image {
  height: 1023px;
  max-width: 100%;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
}
