@font-face {
  font-family: 'NeueMachina-Ultrabold';
  src: url('../../public/resources/Fonts/neue-machina-ultrabold.ttf');
}

@font-face {
  font-family: 'GeometriaMedium';
  src: url('../../public/resources/Fonts/geometria-medium.otf');
}

.home-element {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  background-color: #fcf7ec;
}

.snail-container {
  height: 100px;
}

img {
  user-select: none;
}

.main-image-container {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
}

.copyright {
  height: 50px;
}
