.clickable-image-container {
  height: 275px;
  width: 275px;
  
  transition: 0.5s;

  margin: 10px;
}

.clickable-image-container:hover {
  opacity: 0.8
}

.clickable-image-container:active {
  height: 300px;
  width: 300px;
}

@keyframes image_animation {
  from { height: 375px; }
  to { height: 350px; }
}

.concrete-image {
  height: 275px;

  box-shadow: 8px -5px 8px grey;
}

/* .concrete-image:active { */
/*   animation-name: image_animation; */
/*   animation-duration: 0.3s; */
/* } */
