.clickable-image-container {
  height: 275px;
  width: 340px;
  
  transition: 0.5s;

  cursor: none;

  margin: 10px;

  position: relative;
}

.clickable-image-container:hover {
  opacity: 0.78;
  cursor: none;
}

.chevron-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: 0.5s;
  opacity: 0.0;
}

.chevron-container:hover {
  opacity: 1.0;
}

/* .clickable-image-container:active { */
/*   height: 300px; */
/*   width: 300px; */
/*   cursor: none; */
/* } */

@keyframes image_animation {
  from { height: 375px; }
  to { height: 350px; }
}

.concrete-image {
  height: 275px;

  box-shadow: 8px -5px 8px grey;
  cursor: none;
}
