@import url('../../fonts.css');

.experience-page {
  height: 100%;

  background-color: #fcf7ec;

  padding-left: 0px;

  padding-bottom: 950px;
  padding-top: 70px;

  position: relative;

  display: grid;
  grid-template-columns: 170px 1fr 170px;
}

.experience-page-main-part {
  height: 100%;
  width: 100%;
}

.experience-header {
  height: 40px;
  padding: 30px;
  padding-left: 0px;

  font-family: 'NeueMachina-Ultrabold';
  font-size: 80px;
}

.snail-container {
  height: 100px;
  position: relative;
}

.timeline-container {
  width: 100%;
  height: 500px;

  display: flex;
  justify-content: space-around;

  margin-bottom: 40px;
}

.timeline-pic {
  width: 1500px;
  height: 500px;
}

.oranges-container {
  width: 100%;
  height: 120px;

  display: flex;
  justify-content: space-around;
}

.oranges-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: inherit;
}

.left-bottom-flower {
  position: absolute;
  bottom: 0;

  height: 300px;
  left: 0;
}

.right-bottom-flower {
  position: absolute;
  bottom: 0;

  height: 300px;
  right: 0;
}

.main-text {
  height: 500px;
  margin-top: 120px;
}

.title {
  font-family: 'NeueMachina-Ultrabold';
  font-size: 50px;

  margin-bottom: 30px;
}

.some-text {
  display: flex;
  justify-content: space-around;
}

.text-block {
  font-family: 'GeometriaMedium';
  font-size: 20px;

  margin-bottom: 50px;
  text-align: left;

  width: 50%;
}
