.experience-page {
  height: 100%;

  background-color: #fcf7ec;

  padding-left: 0px;
  display: grid;
  grid-template-columns: 170px 1fr 170px;

  padding-bottom: 400px;
  padding-top: 70px;

  position: relative;
}

.experience-header {
  height: 40px;
  padding: 30px;
  padding-left: 0px;

  font-family: 'NeueMachina-Ultrabold';
  font-size: 50px;
}

.snail-container {
  height: 100px;
  position: relative;
}

.timeline {
  width: 1500px;
}

.projects-list-part {
}

.projects-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.empty-space {
}

.oranges {
  display: block;
  margin-left: auto;
  margin-right: auto;

  height: 120px;
}

.left-bottom-flower {
  position: absolute;
  bottom: 0;

  height: 300px;
  left: 0;
}

.right-bottom-flower {
  position: absolute;
  bottom: 0;

  height: 300px;
  right: 0;
}
